doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
  body
    form(action='https://formspree.io/klj40702@gmail.com', method='POST')
      input(type='text', name='name')
      br
      input(type='email', name='_replyto', placeholder="Your email")
      br
      textarea(name="content", cols="30", rows="10")
      input(type='submit', value='Send')