doctype html
html(lang='en', prefix='og: http://ogp.me/ns#')
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(property="og:title", content="Dehao Kong")
    meta(property="og:description", content="About Dehao Kong.")
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="Dehao Kong")
    meta(property="og:url", content="https://rd0916.github.io/")
    meta(property="og:image", content="https://rd0916.github.io/images/og.jpg")

    title Dehao Kong | CV
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    // Start vendor css
    link(rel='stylesheet prefetch', href='vendor/bootstrap/bootstrap-4.0.0.css')
    link(rel='stylesheet prefetch', href='vendor/font-awesome/font-awesome-4.7.0.css')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Lobster|Bree+Serif|Lemonada|Montserrat:300,400,500,600,700,900')
    // End vendor css

    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper

      // Start element
      .bg
      .goTop.js-at_top
        i.fa.fa-chevron-up
      // End element

      
      // Start header
      header.header.js-at_top
        .container
          .navbar.u-clearfix
            a.navbar__brand(href='#!') Dehao Kong
            a.menu-toggle(href='#navbarLink')
              span
              span
            #navbarLink.nav.navbar__nav
              ul
                li.navbar__item
                  a.navbar__link(href='#edu') Education
                li.navbar__item
                  a.navbar__link(href='#experience') Experience
                li.navbar__item
                  a.navbar__link(href='#skills') Skills
                li.navbar__item
                  a.navbar__link(href='#works') Works
                li.navbar__item
                  a.navbar__link(href='#contact') Contact
      // End header

      // Start main
      section.main

        // Start front cover
        .front-cover
          h1.front-cover__heading.wow.bounceInLeft My Design Experience.
          a.front-cover__arrow-down.js-arrowDown.js-at_top(href='#about')
            .arrow.fa.fa-angle-down
        // End front cover

        // Strart about
        #about.about.bg-color--white.u-area-padding
          .container
            .row
              .col-md-12
                .title.wow.bounceInUp ABOUT ME
            .row
              .col-md-3.col-sm-12
                .about__cover.wow.fadeIn(data-wow-delay='0.5s', data-wow-duration='2s')
              .col-md-9.col-sm-12
                .about__description.wow.bounceInUp(data-wow-delay='0.5s')
                  | 您好！我叫孔德豪，畢業於國立臺北護理健康大學-資管系，個性隨和好相處，喜歡接觸新事物。
                  br
                  br
                  | 熱愛程式，專長是網頁開發，擅長 
                  span.u-text-important HTML5、CSS3、PHP、jQuery、
                  | 以及 
                  span.u-text-important Vue.js
                  | 。
                  br
                  | 從有能力寫網頁至今，已有兩年多的開發經驗，這兩年間，經常涉及電子商務網站，因此對電子商務網站也較瞭解，也有版本控制經驗，瞭解 Git / GitHub。
                  br
                  br
                  | 喜歡學習新技術，曾利用網路上的資源，自學了 
                  span.u-text-important Pug、SASS、
                  | 以及 PHP 的框架
                  span.u-text-important 「Laravel」
                  | 。
        // End about

        // Start education
        #edu.edu.bg-color--white.u-area-padding
          .container
            .row
              .col-sm-12
                h2.title.wow.bounceInUp EDUCATION
            .row.items.wow.fadeInUp(data-wow-delay='0.7s')
              .col-md-3.col-sm-12.items__year
                | 2012 - 2016
                .circle.bg-color--white.fa.fa-circle-thin
              .col-md-9.col-sm-12.items__info
                .items__name 國立臺北護理健康大學
                .items__department 資訊管理系
                .items__description
                  | 因對資訊愛不釋手，所以大學選了資管系。在一次選修課程中，學到了 PHP，因而對網頁開發產生興趣。
                  br
                  | 在大三時與同學共同參加了 「行動裝置App」 比賽，拿到了佳作。
                  br
                  | 大四的專題也利用了網站開發技術，製作出一個旅遊網站，也順利的完成此專題。
            .row.items.wow.fadeInUp(data-wow-delay='1.0s')
              .col-md-3.col-sm-12.items__year
                | 2009 - 2012
                .circle.bg-color--white.fa.fa-circle-thin
              .col-md-9.col-sm-12.items__info
                .items__name 桃園市育達高級中學
                .items__department 資料處理科
                .items__description
                  | 在高中三年的時間裡，學了不少軟體，例如 PhotoImpact、Falsh、Dreamweaver、VB，當時學了 VB 後覺得能自己製作出東西很有成就感，因此對程式產生極大興趣，開啟我的程式路。
        // End education

        // Start experience
        #experience.experience.bg-color--grey.u-area-padding
          .container
            .row
              .col-sm-12
                h2.title.wow.bounceInUp EXPERIENCE
            .row.items.wow.fadeInUp(data-wow-delay='0.7s')
              .col-md-3.col-sm-12.items__year
                | 2015 - 2016
                .circle.bg-color--grey.fa.fa-circle-thin
              .col-md-9.col-sm-12.items__info
                .items__name 真茂科技公司
                .items__department 實習生
                .items__description
                  | 真茂是一間負責家庭醫療健康與設備的公司，在實習的時間裡，我與其他實習生共同開發一個能讓使用者線上紀錄自己的血壓、血糖、心率等資料，並提供建議給使用者的網站，此專案為公司帶來 20 萬的營收。
                  br
                  | 在這次開發的經驗中，我實際學習到分工與版本控制的重要性。
            .row.items.wow.fadeInUp(data-wow-delay='1.0s')
              .col-md-3.col-sm-12.items__year
                | 2015 - 2015
                .circle.bg-color--grey.fa.fa-circle-thin
              .col-md-9.col-sm-12.items__info
                .items__name 臺灣期貨交易所
                .items__department 暑期實習生
                .items__description
                  | 在期交所實習的這段時間，我依主管指示，寫出一個各銀行人民幣對美金的交叉匯率，並利用 Linux 的排程記錄每天的變化，製成一個方便觀看的圖表。
        // End experience

        // Start skill
        #skills.skills.bg-color--white.u-area-padding
          .container
            .row
              .col-sm-12
                h2.title.wow.bounceInUp MY SKILLS
            .row
              .col-lg-2.col-md-4.col-sm-6
                .skills-type.wow.rotateIn(data-wow-delay='0.4s')
                  .skills-type__circle.c1
                    .mask-grey
                    .mask-blue
                  .skills-type__text HTML5 / CSS3
              .col-lg-2.col-md-4.col-sm-6
                .skills-type.wow.rotateIn(data-wow-delay='0.7s')
                  .skills-type__circle.c2
                    .mask-grey
                    .mask-blue
                  .skills-type__text Bootstrap
              .col-lg-2.col-md-4.col-sm-6
                .skills-type.wow.rotateIn(data-wow-delay='1.0s')
                  .skills-type__circle.c3
                    .mask-grey
                    .mask-blue
                  .skills-type__text Vue.js
              .col-lg-2.col-md-4.col-sm-6
                .skills-type.wow.rotateIn(data-wow-delay='1.3s')
                  .skills-type__circle.c4
                    .mask-grey
                    .mask-blue
                  .skills-type__text JQuery / Sass
              .col-lg-2.col-md-4.col-sm-6
                .skills-type.wow.rotateIn(data-wow-delay='1.6s')
                  .skills-type__circle.c5
                    .mask-grey
                    .mask-blue
                  .skills-type__text PHP / MySQL
              .col-lg-2.col-md-4.col-sm-6
                .skills-type.wow.rotateIn(data-wow-delay='1.9s')
                  .skills-type__circle.c6
                    .mask-grey
                    .mask-blue
                  .skills-type__text Laravel
        // End skill

        // Start works
        #works.works.bg-color--grey.u-area-padding
          #app.container
            .row
              .col-sm-12
                h1.title.wow.bounceInUp WORKS
              .col-md-6.col-sm-12.works-group(v-for='(work, id) in works_data')
                .work.wow.fadeInUp(@click='work_click(id)', :data-wow-delay="(id + 1) * 0.3 + 's'")
                  img.work__cover(:src='work.url')
                  .work-info
                    .work-info__title {{work.title}}
                    .work-info__content {{work.content}}
        // End works

        // Start contact
        #contact.contact.bg-color--white
          .container
            .row
              .col-md-12
                .contact__title.wow.bounceInUp CONTACT
                hr
                .contact__mail.wow.fadeInUp(data-wow-delay='0.3s')
                  a.fa.fa-envelope-o(href='mailto:klj40702@gmail.com')
                    span klj40702@gmail.com
                .contact__logo
                  a.fa.fa-facebook-square.wow.rotateIn(href='https://fb.me/ke.di.54', target='_blank', data-wow-delay='0.4s')
                  a.fa.fa-github.wow.rotateIn(href='https://github.com/RD0916', target='_blank', data-wow-delay='0.7s')
                  a.fa.fa-linkedin-square.wow.rotateIn(href='https://linkedin.com/in/rd0916', target='_blank', data-wow-delay='1s')
        // End contact

      // End main

      // Start footer
      footer.footer
        .container-fluid
          .left-text D
          .right-text
            .copyright © 2017-2018 Dehao Kong. All rights reserved
      // End footer

      // Start work box
      #app2.box
        .container
          .box__cross(@click='close_box')
          .box__inner(v-for='(box, id) in box_data', :id="'box_' + id")
            .owl-carousel.owl-theme
              .imgbox(v-for='box_img in box.img')
                .imgbox__inner(:class="(id == 0) ? 'imgbox__inner--7-6' : 'imgbox__inner--5-4'")
                  .image(:style='bg_css(box_img)')
            .row
              .box__info
                .col-lg-8.push-lg-2
                  h2.box__heading {{box.title}}
                  .box__text(v-html='box.description')
                  .box__icons
                    a.box__icon.box__icon--height.fa.fa-link(target="_blank", :href="box.link", v-show="box.link")
                    i.box__icon.fa.fa-times(@click='close_box')
      // End work box

    // Start vendor css
    link(rel='stylesheet prefetch', href='vendor/owl-carousel/owl-carousel-2.2.1.min.css')
    link(rel='stylesheet prefetch', href='vendor/animate/animate-3.5.1.css')
    // End vendor css
    
    // Start vendor js
    script(src='vendor/jQuery/jquery-2.2.4.min.js')
    script(src='vendor/vue/vue-2.3.4.min.js')
    script(src='vendor/owl-carousel/owl-carousel-2.2.1.min.js')
    script(src='vendor/wow/wow-1.1.2.min.js')
    // End vendor js
    script(src='js/index.js')

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111303596-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111303596-1');

    // Hotjar Tracking Code for https://rd0916.github.io/
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:723873,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
