<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Dehoa Kong">
    <meta property="og:description" content="Dehoa Kong 的 CV。">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Dehoa Kong">
    <meta property="og:url" content="https://rd0916.github.io/">
    <meta property="og:image" content="https://rd0916.github.io/images/og.png">
    <title>Dehoa Kong | CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Start vendor css-->
    <link rel="stylesheet prefetch" href="vendor/bootstrap/bootstrap-4.0.0.css">
    <link rel="stylesheet prefetch" href="vendor/font-awesome/font-awesome-4.7.0.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Lobster|Bree+Serif|Lemonada|Montserrat:300,400,500,600,700,900">
    <link rel="stylesheet prefetch" href="vendor/owl-carousel/owl-carousel-2.2.1.min.css">
    <link rel="stylesheet prefetch" href="vendor/animate/animate-3.5.1.css">
    <!-- End vendor css-->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- Start element-->
      <div class="bg"></div>
      <div class="goTop js-at_top"><i class="fa fa-chevron-up"></i></div>
      <!-- End element-->
      <!-- Start work box-->
      <div class="box" id="app2">
        <div class="container">
          <div class="box__cross" @click="close_box"></div>
          <div class="box__inner" v-for="(box, id) in box_data" :id="'box_' + id">
            <div class="owl-carousel owl-theme">
              <div class="imgbox" v-for="box_img in box.img">
                <div class="imgbox__inner" :class="(id == 0) ? 'imgbox__inner--7-6' : 'imgbox__inner--5-4'">
                  <div class="image" :style="bg_css(box_img)"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="box__info">
                <div class="col-lg-8 push-lg-2">
                  <h2 class="box__heading">{{box.title}}</h2>
                  <div class="box__text" v-html="box.description"></div>
                  <div class="box__icons"><i class="box__icon fa fa-times" @click="close_box"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End work box-->
      <!-- Start header-->
      <header class="header js-at_top">
        <div class="container">
          <div class="navbar u-clearfix"><a class="navbar__brand" href="#!">Dehao Kong</a><a class="menu-toggle" href="#navbarLink"><span></span><span></span></a>
            <div class="nav navbar__nav" id="navbarLink">
              <ul>
                <li class="navbar__item"><a class="navbar__link" href="#edu">Education</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#experience">Experience</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#skills">Skills</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#works">Works</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- End header-->
      <!-- Start main-->
      <section class="main">
        <!-- Start front cover-->
        <div class="front-cover">
          <h1 class="front-cover__heading wow bounceInLeft">My Design Experience.</h1><a class="front-cover__arrow-down js-arrowDown js-at_top" href="#about">
            <div class="arrow fa fa-angle-down"></div></a>
        </div>
        <!-- End front cover-->
        <!-- Strart about-->
        <div class="about bg-color--white u-area-padding" id="about">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="title wow bounceInUp">ABOUT ME</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="about__cover wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s"></div>
              </div>
              <div class="col-md-9 col-sm-12">
                <div class="about__description wow bounceInUp" data-wow-delay="0.5s">您好！我叫孔德豪，畢業於國立臺北護理健康大學-資管系，熱愛程式，專長是網頁開發，擅長 <span class="u-text-important">HTML、CSS、PHP、jQuery、Vue.js</span>。<br>大三升大四的暑期中，為了瞭解自己與企業差距，而申請了期交所的實習生，在期交所的時間裡，瞭解到企業裡人們的應對方式，以及很多沒聽過的技術。大四開學後我馬不停蹄，申請了真茂公司實習，利用了不擅長的語言 C# 來製作出主管交代的網頁，中途查了不少資料與翻閱不少書本，最終完成了工作，確信自己有解決問題的能力。<br>畢業後靠網路上的資源，自學了 <span class="u-text-important">Pug、SASS、</span>以及 PHP 的框架<span class="u-text-important">「Laravel」</span>，並寫出了一個二手書平台，為自己的經驗與作品更添一筆。</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End about-->
        <!-- Start education-->
        <div class="edu bg-color--white u-area-padding" id="edu">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="title wow bounceInUp">EDUCATION</h2>
              </div>
            </div>
            <div class="row items wow fadeInUp" data-wow-delay="0.7s">
              <div class="col-md-3 col-sm-12 items__year">2012 - 2016
                <div class="circle bg-color--white fa fa-circle-thin"></div>
              </div>
              <div class="col-md-9 col-sm-12 items__info">
                <div class="items__name">國立臺北護理健康大學</div>
                <div class="items__department">資訊管理系</div>
                <div class="items__description">因對資訊愛不釋手，所以大學選了資管系。在一次選修課程中，學到了 PHP，因而對網頁開發產生興趣。<br>在大三時與同學共同參加了 「行動裝置App」 比賽，拿到了佳作。<br>大四的專題也利用了網站開發技術，製作出一個旅遊網站，也順利的完成此專題。</div>
              </div>
            </div>
            <div class="row items wow fadeInUp" data-wow-delay="1.0s">
              <div class="col-md-3 col-sm-12 items__year">2009 - 2012
                <div class="circle bg-color--white fa fa-circle-thin"></div>
              </div>
              <div class="col-md-9 col-sm-12 items__info">
                <div class="items__name">桃園市育達高級中學</div>
                <div class="items__department">資料處理科</div>
                <div class="items__description">在高中三年的時間裡，學了不少軟體，例如 PhotoImpact、Falsh、Dreamweaver、VB，當時學了 VB 後覺得能自己製作出東西很有成就感，因此對程式產生極大興趣，開啟我的程式路。</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End education-->
        <!-- Start experience-->
        <div class="experience bg-color--grey u-area-padding" id="experience">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="title wow bounceInUp">EXPERIENCE</h2>
              </div>
            </div>
            <div class="row items wow fadeInUp" data-wow-delay="0.7s">
              <div class="col-md-3 col-sm-12 items__year">2015 - 2016
                <div class="circle bg-color--grey fa fa-circle-thin"></div>
              </div>
              <div class="col-md-9 col-sm-12 items__info">
                <div class="items__name">真茂科技公司</div>
                <div class="items__department">實習生</div>
                <div class="items__description">真茂是一間負責家庭醫療健康與設備的公司，在實習的時間裡，我與其他實習生共同開發一個能讓使用者線上紀錄自己的血壓、血糖、心率等資料，並提供建議給使用者的網站，此專案為公司帶來 20 萬的營收。<br>在這次開發的經驗中，我實際學習到分工與版本控制的重要性。</div>
              </div>
            </div>
            <div class="row items wow fadeInUp" data-wow-delay="1.0s">
              <div class="col-md-3 col-sm-12 items__year">2015 - 2015
                <div class="circle bg-color--grey fa fa-circle-thin"></div>
              </div>
              <div class="col-md-9 col-sm-12 items__info">
                <div class="items__name">臺灣期貨交易所</div>
                <div class="items__department">暑期實習生</div>
                <div class="items__description">在期交所實習的這段時間，我依主管指示，寫出一個各銀行人民幣對美金的交叉匯率，並利用 Linux 的排程記錄每天的變化，製成一個方便觀看的圖表。</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End experience-->
        <!-- Start skill-->
        <div class="skills bg-color--white u-area-padding" id="skills">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="title wow bounceInUp">MY SKILLS</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="skills-type wow rotateIn" data-wow-delay="0.4s">
                  <div class="skills-type__circle c1">
                    <div class="mask-grey"></div>
                    <div class="mask-blue"></div>
                  </div>
                  <div class="skills-type__text">HTML5 / CSS3</div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="skills-type wow rotateIn" data-wow-delay="0.7s">
                  <div class="skills-type__circle c2">
                    <div class="mask-grey"></div>
                    <div class="mask-blue"></div>
                  </div>
                  <div class="skills-type__text">Bootstrap</div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="skills-type wow rotateIn" data-wow-delay="1.0s">
                  <div class="skills-type__circle c3">
                    <div class="mask-grey"></div>
                    <div class="mask-blue"></div>
                  </div>
                  <div class="skills-type__text">Vue.js</div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="skills-type wow rotateIn" data-wow-delay="1.3s">
                  <div class="skills-type__circle c4">
                    <div class="mask-grey"></div>
                    <div class="mask-blue"></div>
                  </div>
                  <div class="skills-type__text">JQuery / Sass</div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="skills-type wow rotateIn" data-wow-delay="1.6s">
                  <div class="skills-type__circle c5">
                    <div class="mask-grey"></div>
                    <div class="mask-blue"></div>
                  </div>
                  <div class="skills-type__text">PHP / MySQL</div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="skills-type wow rotateIn" data-wow-delay="1.9s">
                  <div class="skills-type__circle c6">
                    <div class="mask-grey"></div>
                    <div class="mask-blue"></div>
                  </div>
                  <div class="skills-type__text">Laravel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End skill-->
        <!-- Start works-->
        <div class="works bg-color--grey u-area-padding" id="works">
          <div class="container" id="app">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="title wow bounceInUp">WORKS</h1>
              </div>
              <div class="col-md-6 col-sm-12 works-group" v-for="(work, id) in works_data">
                <div class="work wow fadeInUp" @click="work_click(id)" :data-wow-delay="(id + 1) * 0.3 + 's'"><img class="work__cover" :src="work.url">
                  <div class="work-info">
                    <div class="work-info__title">{{work.title}}</div>
                    <div class="work-info__content">{{work.content}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End works-->
        <!-- Start contact-->
        <div class="contact bg-color--white" id="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="contact__title wow bounceInUp">CONTACT</div>
                <hr>
                <div class="contact__mail wow fadeInUp" data-wow-delay="0.3s"><a class="fa fa-envelope-o" href="mailto:klj40702@gmail.com"><span>klj40702@gmail.com</span></a></div>
                <div class="contact__logo"><a class="fa fa-facebook-square wow rotateIn" href="https://fb.me/ke.di.54" target="_blank" data-wow-delay="0.4s"></a><a class="fa fa-github wow rotateIn" href="https://github.com/RD0916" target="_blank" data-wow-delay="0.7s"></a><a class="fa fa-linkedin-square wow rotateIn" href="https://linkedin.com/in/rd0916" target="_blank" data-wow-delay="1s"></a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End contact-->
      </section>
      <!-- End main-->
      <!-- Start footer-->
      <footer class="footer">
        <div class="container-fluid">
          <div class="left-text">D</div>
          <div class="right-text">
            <div class="copyright">© 2017-2018 Dehao Kong. All rights reserved</div>
          </div>
        </div>
      </footer>
      <!-- End footer-->
    </div>
    <!-- Start vendor js-->
    <script src="vendor/jQuery/jquery-2.2.4.min.js"></script>
    <script src="vendor/vue/vue-2.3.4.min.js"></script>
    <script src="vendor/owl-carousel/owl-carousel-2.2.1.min.js"></script>
    <script src="vendor/wow/wow-1.1.2.min.js"></script>
    <!-- End vendor js-->
    <script src="js/index.js"></script>
  </body>
</html>